#map {
  width: 800px;
  height: 600px;
  background-color: white;
}

.point {
  fill: steelblue;
  stroke: #fff;
  stroke-width: 1px;
}

.point:hover {
  fill: rgb(11, 242, 11);
}

/* Tooltip styles */
#tooltip {
  position: absolute;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
.hidden {
  display: none;
}